

body {
    font-family: monospace;
    font-size: 1.1em;
    margin: 1.5em;
}

column-names, output {
    display: block;
    margin-top: 1em;
    font-family: monospace;
}

form, section {
    padding: 1em;
    border-radius: 1em;
    margin-bottom: 0.5em;
}

#search-box {
    background-color: lightskyblue;
}

#file, #columnselect {
    background-color: lightgreen;
}

#banner {
    font-size: 1.5em;
    padding: 0.25em;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted navy;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 350px;
  background-color: darkslategray;
  opacity: 0.7;
  color: #fff;
  font-size: 0.9em;
  font-weight: lighter;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}