body {
    background-color: #2a3347;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 0.95em;
    margin: 1em 0;
}

#results {
    background-color: white;
    color: black;
    min-height: 500px;
}

#banner {
    display: inline-block;
    font-size: 1.75em;
    padding: 0 0.75em 0.5em 0.75em;
}

table.controls-container td {
    margin: 0;
    padding: 0 12px 0 0;
}

#controls {
    position: relative;
}

#hide-controls {
    background: seagreen;
    width: 100%;
    height: 12px;
    display: block;
}

#hide-column-controls {
    background: turquoise;
    width: 100%;
    height: 12px;
    display: block;
}

#hide-controls:hover {
    background: yellowgreen;
}

input.search {
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;
    font-size: 1.5em;
}

input[type="checkbox"]:disabled + label {
    color: gray;
}

select[for="match-where"]:disabled + label {
    color: gray;
}

column-names, output {
    display: block;
    margin-top: 1em;
    font-family: monospace;
}

form, div.section {
    padding: 0.75em 1em;
}

#columnselect {
    background-color: steelblue;
}

table#results-table {
    border-collapse: collapse;
    width: 100%;
    font-family: monospace;
    font-size: 1.1em;
}

tr.sticky {
    position: sticky;
    top: 0;
    background-color: steelblue;
    color: white;
}

/* th {
    position: relative;
    padding: 3px 12px;
    border: 0.5px solid lightgray;
    border-collapse: collapse;
    min-width: 20px;
} */

th {
    color: white;
    position: relative;
    padding: 3px 12px;
    border: 0.5px solid lightgray;
    border-collapse: collapse;
    min-width: 20px;

}

td.results-td {
    color: black;
    position: relative;
    padding: 3px 12px;
    border: 0.5px solid lightgray;
    border-collapse: collapse;
    min-width: 20px;
}

div.resize {
    /* TODO: Make resizable "handle" more attractive, use hoverover tricks */
    background-color: orange;
    cursor: col-resize;
    position: absolute;
    right: 0;
    top: 0;
    user-select: none;
    width: 3px;
    height: 100%;
}

td {
    padding: 0 0.75em;
}

td.search-td {
    min-width: 300px;
    padding: 0 0.25em !important;

}

td#search-logic {
    width: 30px;
    background-color: lightgray;
    padding: 1em !important;
    margin-right: 0.5em;
    /* border-radius: 1em; */
}

#search-box {
    background-color: #384a73;
}

#search-button {
    padding: 0.5em 0.65em;
}

#search-button-outside {
    padding: 0.5em 0.65em;
}

#search-input, #search-input2 {
    font-size: 0.8em;
    border-radius: 0.5em;
    width: 265px;
    margin: 5px 0;
}

#search-input:disabled, #search-input2:disabled {
    background-color: lightgray;
}

.cutoff {
    padding: 1px 0 1px 3px;
    width: 40px;
    border-radius: 0.25em;
}

.cutoff:disabled {
    background-color: lightgray;
}


.infotip {
    position: relative;
    display: inline-block;
    background-color: steelblue;
    color: white;
    font-weight: 500;
    border-radius: 1em;
    padding: 1px 3px 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.8em;
    font-weight: 600;
}

.infotiptext {
    visibility: hidden;
    min-width: 180px;
    background-color: darkslategray;
    opacity: 0.88;
    color: #fff;
    font-family: Arial, sans-serif;
    font-weight: lighter;
    text-align: left;
    border-radius: 5px;
    padding: 5px 10px 7px 10px;
    margin: 2px;
    position: absolute;
    z-index: 1;
}

.infotip:hover .infotiptext {
    visibility: visible;
}
