body {
    font-family: monospace;
    font-size: 1.1em;
    margin: 1.5em;
}

column-names, output {
    display: block;
    margin-top: 1em;
    font-family: monospace;
}

form, div.section {
    padding: 1em;
    border-radius: 1em;
    margin-bottom: 0.5em;
}

table#results-table {
    border-collapse: collapse;
}

td.results-td {
    padding: 3px 12px;
    border: 0.5px solid lightgray;
    border-collapse: collapse;
}

td {
    padding: 0 0.75em;
}

td.search-td {
    min-width: 300px;
    padding: 0 0.25em !important;

}

td#search-logic {
    width: 30px;
    background-color: lightgray;
    padding: 1em !important;
    margin-right: 0.5em;
    border-radius: 1em;
}

#search-box {
    background-color: lightskyblue;
}

#search-button {
    padding: 0.65em;
}

#search-input, #search-input2 {
    font-size: 0.8em;
    border-radius: 0.5em;
    width: 265px;
    margin: 5px 0;
}

#search-input:disabled, #search-input2:disabled {
    background-color: lightgray;
}

#file, #columnselect {
    background-color: lightgreen;
}

#results {
    background-color: lightsteelblue;
}

#banner {
    font-size: 1.5em;
    padding: 0.25em;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted gray;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: darkslategray;
  opacity: 0.9;
  color: #fff;
  font-size: 0.9em;
  font-weight: lighter;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}